<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <param name="graylogHost" value="172.17.0.1:12201"/>
        <param name="originHost" value="172.17.0.1"/>
        <param name="graylogPort" value="12201"/>
        <param name="extractStacktrace" value="true"/>
        <param name="addExtendedInformation" value="true"/>
        <param name="facility" value="log4j"/>
        <param name="Threshold" value="INFO"/>
        <param name="additionalFields" value="{'environment': 'DEV', 'application': 'PokemonApp'}"/>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GELF" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <graylogHost>localhost</graylogHost>
        <graylogPort>12201</graylogPort>
    </appender>

    <!-- Console output log level -->
    <root level="TRACE">
        <appender-ref ref="GELF" />
        <appender-ref ref="STDOUT" /> <appender-ref ref="STDOUT" />
    </root>

</configuration>